<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>News</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<!-- <div class="alert">TESTE medium.</div>-->
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/webb.png" alt="Portfolio">
		</div>
	</div>
	<div class="container">
		<p class="title">How Amazon is solving big-data challenges with data lakes</p>
	</div>

	<div class="container">
		<div class="whoiam">
			<img src="/static/imgs/datalake1.jpg" alt="Foto"> 
			<p>Back when Jeff Bezos filled orders in his garage and drove packages to the post office himself, crunching the numbers on costs, tracking inventory, and forecasting future demand was relatively simple. Fast-forward 25 years, Amazon's retail business has more than 175 <a href="https://www.aboutamazon.com/amazon-fulfillment/our-fulfillment-centers/">fulfillment centers</a> (FC) worldwide with over 250,000 full-time associates shipping millions of items per day.</p>
		</div>
	</div>

	<div class="container">
		<p class="title">References</p>
	</div>

	<div class="container">
		<div class="docker-paths">
		
			<div class="docker-path path">
				<h1>CI/CD-JenkinsFile </h1>
				<a href="https://github.com/ailsons-dev/ccb-poc-cf" target="_blank" class="docker project">
					<h2>Projeto com Java / Mysql</h2>
				</a>
			</div>
			
			<div class="other-path path">
				<h1>Projetos</h1>
				<a href="https://github.com/ailsons-dev/AzureMapsCodeSamples" target="_blank" class="other project">
					<h2>Projeto Azure Maps</h2>
				</a>
				<a href="https://github.com/ailsons-dev/html-site-python" target="_blank" class="other project">
					<h2>Projeto com python</h2>
				</a>
			</div>
			
		</div>
	</div>
	<div class="footer">
		<div class="header-footer">
		<p>Redes sociais</p>
	</div>
		<div class="itens-footer">
		<a href="https://www.linkedin.com/in/xxxxx/" target="_blank" >LinkedIn</a><br>
		<a href="https://www.instagram.com/xxxxx/" target="_blank" >Instagram</a><br>
		<a href="https://github.com/xxxxx" target="_blank" >GitHub</a>
	</div>
	</div>
</body>

</html>
